* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
body{
  background-color: #dadada;
  font-family: "Montserrat", sans-serif;
}
span{
  cursor: pointer;
}
input{
  border: none;
  flex-grow: 1;
  outline: none;
}